a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
button {
  font-family: inherit;
  color: currentColor;
}
input {
  font-family: inherit;
  color: currentColor;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--SLATE, #434455);
  background-color: #fff;
}

.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
    align-items: center;
  }
}
.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    padding: 24px 0;
    color: var(--NAVY-BLUE, #2e2f42);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:focus,
  .nav-link:hover {
    color: #404bbf;
    text-decoration: none;
  }
  .active-page {
    color: #404bbf;
    position: relative;
  }
  .active-page::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, #404bbf);
    width: 100%;
  }
}

.logo {
  margin-right: 76px;
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .logo {
    margin-right: 120px;
  }
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
}

.address {
  display: none;
}
@media screen and (min-width: 768px) {
  .address {
    display: block;
    margin-left: auto;
    font-style: normal;
  }
  .address-link {
    color: currentColor;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:first-child {
    margin-bottom: 12px;
  }
  .address-link:focus,
  .address-link:hover {
    color: #404bbf;
    text-decoration: none;
  }
}
@media screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.btn-menu-burger {
  padding: 24px 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .btn-menu-burger {
    display: none;
  }
}

.btn-menu-icon {
  fill: #2f2f37;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.mobile-btn-close {
}
.close-icon {
}
.mobile-nav-list {
}
.mobile-nav-link {
}
.active-page {
}
.mobile-address {
}
.mobile-address-list {
}
.mobile-address-link {
}
.icon-list {
}
.icon-item {
}
.blue-circle {
}
.icon {
}

.section {
  padding: 96px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
}

.section-order {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-1-section.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 72px 0;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-resolution: 192dpi) {
  .section-order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-1@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-order {
    padding: 122px 0;
  }
}

@media screen and (min-width: 1158px) {
  .section-order {
    padding: 188px 0;
  }
}
.section-order-title {
  max-width: 288px;
  margin: 0 auto;
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .section-order-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.section-order-button {
  display: block;
  margin: 0 auto;
  margin-top: 72px;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-order-button:hover,
.section-order-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-order-button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-order-button {
    margin-top: 48px;
  }
}

.section-title {
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-features-list {
  display: flex;
  gap: 24px;
}
.section-features-item {
  flex-basis: 264px;
}
.icon-future-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
}

.section-title-little {
  margin-bottom: 8px;
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-team {
  background-color: #f4f4fd;
}
.section-team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.section-team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-cart-down {
  padding: 32px 0;
}
.team-cart-name {
  text-align: center;
  margin-bottom: 8px;
}
.team-cart-prof {
  text-align: center;
  margin-bottom: 8px;
}
.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.blue-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: #f4f4fd;
}
.blue-circle:hover,
.blue-circle:focus {
  background-color: #404bbf;
}

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-item {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio-item:hover,
.section-portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-cart-down {
  padding: 32px 16px 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}
.portfolio-cart-top {
  position: relative;
  overflow: hidden;
}

.section-portfolio-overlay {
  background: var(--IRIS, #4d5ae5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--CLOUD, #f4f4fd);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-item:hover .section-portfolio-overlay {
  transform: translateY(0);
}

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  color: var(--CLOUD, #f4f4fd);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-left {
  margin-right: 120px;
}

.footer .logo {
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer .logo-studio {
  color: #f4f4fd;
}
.footer p {
  max-width: 264px;
}
.footer-social-media {
  margin-right: 80px;
}
.footer-subtitle {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-media .icon-list {
  gap: 16px;
}
.footer-social-media .icon-list .blue-circle:hover,
.footer-social-media .icon-list .blue-circle:focus {
  background-color: #31d0aa;
}
.form-subscribe {
  display: flex;
  gap: 24px;
}
.label-subscribe {
  flex-shrink: 0;
}
.input-subscribe {
  display: inline-block;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  min-width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.input-subscribe::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.04em;
}

.btn-subscribe {
  display: inline-flex;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #404bbf;
}
.icon-subscribe {
  fill: #fff;
  margin-left: 16px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: var(--DAIRY, #fcfcfc);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.btn-close {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--CORNFLOWER, #e7e9fc);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-close:hover .close-icon,
.btn-close:focus .close-icon {
  fill: #ffffff;
}
.modal-text {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-input-container {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-icon-container {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  background: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-comment-container {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-check-container {
  margin-bottom: 24px;
}
.modal-check-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-check-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  background-color: transparent;
  fill: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .modal-check-text .modal-check-box {
  background-color: var(--OCEAN, #404bbf);
  border: none;
  fill: #f4f4fd;
}
.modal-check-link {
  margin-left: 4px;
  color: var(--IRIS, #4d5ae5);
  text-decoration: underline;
  line-height: 1.33;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-link:hover,
.modal-check-link:focus {
  color: #404bbf;
}

.modal-btn-send {
  background-color: var(--IRIS, #4d5ae5);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  color: var(--WHITE, #fff);
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: var(--OCEAN, #404bbf);
}
